<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" class="manageBackground" (click)="tapSim()">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
<div class="myClass">
  <div id="container">
      <round-progress [current]="current" [max]="360" [duration]="duration" [animation]="'linearEase'" [clockwise]="true"></round-progress>
  </div>
</div>
  <!--<circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>-->
</ion-content>
